<!--div class="card border-primary text-center">
  <div class="card-header"> DevSolutions</div>
  <div class="card-body">

    <form method="post">
      <div class="form-group col-sm-6">
        <input  type="text" class="form-control"
        name="username" id="username" placeholder="Username" autofocus required>
      </div>

      <div class="form-group col-sm-6">
        <input  type="password" class="form-control"
        name="password" id="password" placeholder="Password" required>
      </div>

      <div class="form-group col-sm-6">
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login">
      </div>
    </form>
  </div>
</div-->

<main>
	<div class="login-box">
      <img src="./assets/logo.png" class="avatar" alt="Avatar Image">
      <h1>Login Here</h1>
      <form>
        
        <label for="username">Username</label>
        <input type="text" placeholder="Enter Username" Required>
        
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" Required>
        <input type="submit" value="Log In">
        <a href="#">¿Perdiste tu contraseña?</a><br>
        <input type="button" value="Crear Cuenta">
      </form>
    </div>
	</main>