<head>
  <meta charset="UTF-8">
  <title>UMG DEV SOLUTION</title>
</head>
<header> 
    <h3> Welcome : {{ user.username  }}  .</h3> 
<section class="wrapper">
<nav>
  <ul>
    <li><a routerLink="/home/processes"   >division of tasks</a></li>
    <li><a routerLink="/home/metrics" >Users Metrics</a></li>
    <li><a routerLink="/home/alerts" >Alerts Importants </a></li>
    <li><a [routerLink]="['/control/4']" >Earnings of the day </a></li>
    <li><a  (click)="logout()"> Sign Out </a></li>
  </ul>

</nav>
</section>

</header>