<head>
    <meta charset="UTF-8">
    <title>UMG DEV SOLUTION</title>
</head>
<body>
<header> 
      <h3> Welcome : {{ user.username  }}  .</h3> 
	<section class="wrapper">
	<nav>
		<ul>
			<li><a href="#">Cambiar aqui 1</a></li>
			<li><a href="#">Cambiar aqui 2</a></li>
			<li><a href="#">Cambiar aqui 3</a></li>
			<li><a href="#">Cambiar aqui 4</a></li>
			<li><a href="#">¿Quienes Somos?</a></li>
			<li><a  (click)="logout()"> Sign Out </a></li>
		</ul>
	
	</nav>
	</section>
	
	</header>
		<div class="box1">
			
		</div>
		<div class="box2">
				pasa pack
		</div>
		<div class="box3">
				unas buenas graficas
		</div>
     
</body>		
