<div class="card text-center" style="height: 474px" >
  <div class="card-header">
    Control-Active-Users
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    
    <hr>

      <div class="row">   
        <div class="col-md-6 text-center" style="max-width: 60%;" align="center">


            <div style="display: block; width:100px height: 100px;" align="center" >
                <canvas class="hck" baseChart style="display: block; width:100px height: 100px;"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [chartType]="'line'">
                  </canvas>
            </div>

        </div>
      </div>


  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>