<div class="card text-center" style="height: 474px" >
  <div class="card-header">
    your earnings
  </div>
  <div class="card-body">
    <h5 class="card-title">🤑 Report 💰 </h5>
    
    <hr>

      <div class="row">   
        <div class="col-md-6 text-center" style="max-width: 60%;" align="center">

          <div>
            <div>
              <div style="display: block; width:700px; height: 400px;" align="center" >
                <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>

            

        </div>
      </div>


  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>