<div class="card text-center" style="height: 474px" >
  <div class="card-header">
    Tasks in this APP
  </div>
  <div class="card-body">
    <h5 class="card-title">you're special to us and that's why</h5>
    
    <hr>

      <div class="row">   
        <div class="col-md-6 text-center" style="max-width: 60%;" align="center">
          
          <div>
            <div class="container" >
              <div style="display: block; width:650px; height: 460px;" align="center ">
                <canvas baseChart
                  [datasets]="radarChartData"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType">
                </canvas>
              </div>
            </div>


        </div>
      </div>


  </div>
</div>